h1
{
  width:45%;
  font-size: 40px !important;
}

button:hover{color:red;}
canvas
{
  border-color: black;
  animation-name: filter_colour;
  animation-duration:4s;
  animation-iteration-count: infinite;
}

@keyframes filter_colour
{
   from{box-shadow:1px 1px 30px royalblue} to {box-shadow:1px 1px 30px lawngreen};
}